@import "tailwindcss";
@import "@fontsource/manrope/300.css";
@import "@fontsource/manrope/400.css";
@import "@fontsource/manrope/500.css";
@import "@fontsource/manrope/600.css";
@import "@fontsource/manrope/700.css";
@import "@fontsource/manrope/800.css";

@theme {
  --font-sans: "Manrope", system-ui, sans-serif;
  --color-primary: #163a19;
  --color-sub: #6b6355;
  --color-tertiary: #589825;
  --color-milky: #f4efe4;
  --color-stat: #e4ffa1;
  --color-borderline: #d6cebe;
  --color-darkgreen: #122e14;
  --color-texttertia: #a2b0a3;
  --color-textcat: #4a4a40;

  --animate-slow-zoom: slow-zoom 10s ease-in-out infinite;

  @keyframes slow-zoom {
    0%,
    100% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.1);
    }
  }
}

body {
  font-family: var(--font-sans);
}
